# Test binary, build with `go test -c`
.env

# Vim
*.swp

.bash_history
.cache/
# build artifacts
bin/
htmlcov/
pkg/
pkg-build/
.*_container
python/ec_golanggrpc/api_pb2*.py
python/ec_golanggrpc/__pycache__
