# Test binary, build with `go test -c`
*.test

# Vim
*.swp

# build artifacts
bin/
htmlcov/
pkg/
pkg-build/
.*_container
python/ec_golanggrpc/api_pb2*.py
python/ec_golanggrpc/__pycache__
src/ec_golanggrpc/api/*.go
src/ec_golanggrpc/vendor/
src/ec_golanggrpc/Go*
